<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Cargos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#simbolo').mask('000-0', {reverse: true});
            // Adiciona um ouvinte de evento ao formulário
            $('form').submit(function() {
                // Exibe o alerta após o envio do formulário
                alert('Cadastro realizado com sucesso!');
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link" href="/home">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Férias</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/setor">Consultar</a>
                    <a class="dropdown-item" href="/cadastrar-departamento">Cadastrar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servidores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/servidorlista">Consultar</a>
                    <a class="dropdown-item" href="/servidorCadastro">Cadastrar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cargos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cargoslista">Consultar</a>
                    <a class="dropdown-item" href="/cargos">Cadastrar</a>
                </div>
            </li>

        </ul>
    </div>
</nav>


<div class="container">
    <h1 class="mt-5">Cadastro de Cargos</h1>
    <form action="#" th:action="@{/cargo}" method="post" class="mt-4">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="nome">Nome do Cargo:</label>
                <input type="text" id="nome" name="nome" placeholder="Insira o nome do cargo" class="form-control" oninput="this.value = this.value.toUpperCase()" required>
            </div>

            <div class="form-group col-md-3">
                <label for="nome">Nome do Setor:</label>
                <input type="text" id="setor" name="setor" placeholder="Insira o nome do setor" class="form-control" oninput="this.value = this.value.toUpperCase()" required>
            </div>


            <div class="form-group col-md-3">
                <label for="simbolo">Símbolo do Cargo:</label>
                <input type="text" id="simbolo" name="simbolo" placeholder="Insira o simbolo do cargo" class="form-control" oninput="this.value = this.value.toUpperCase()" required>
            </div>
            <div class="form-group col-md-2 align-self-end">
                <button type="submit" class="btn btn-primary">Cadastrar Cargo</button>
            </div>
        </div>



    </form>

    <!-- Add a table to display the cargo data -->
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Símbolo</th>
            <th>Setor</th>
            <th>Ações</th>
            <!-- New column for actions -->
            <!-- Add more columns here -->
            <!-- ... -->
            <!-- End of columns -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="cargo : ${cargos}">
            <td th:text="${cargo.nome}"></td>
            <td th:text="${cargo.simbolo}"></td>
            <td th:text="${cargo.setor}"></td>
            <td>
                <!-- Edit button -->
                <a th:href="@{'/cargo/editar/' + ${cargo.id}}" class="btn btn-sm btn-warning">Editar</a>
                <!-- Delete button with confirmation -->
                <a th:href="@{'/cargo/excluir/' + ${cargo.id}}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Tem certeza que deseja excluir este cargo?')">Excluir</a>
            </td>
            <!-- Add more cells here -->
            <!-- ... -->
            <!-- End of cells -->
        </tr>
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
